/*font-family: 'DM Sans', sans-serif;
    Regular 400 
    Regular 400 Italic 
    Bold 700 
    Bold 700 Italic */
body{
    background-image: url(/img/background.jpg);
}

.btn-inicio{
    background-color: hwb(32 32% 3%);
    font-family:'DM Sans', sans-serif;
    border-radius: 5%;
}
.btn-inicio:hover{
        border: solid 1px black;
        transform: scale(1.1) translate(5px);
        margin: 1rem;
}
.rotate-in-2-cw{-webkit-animation:rotate-in-2-cw .4s cubic-bezier(.25,.46,.45,.94) both;animation:rotate-in-2-cw .5s cubic-bezier(.25,.46,.45,.94) both}
 @-webkit-keyframes rotate-in-2-cw{0%{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);opacity:0}100%{-webkit-transform:rotate(0);transform:rotate(0);opacity:1}}@keyframes rotate-in-2-cw{0%{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);opacity:0}100%{-webkit-transform:rotate(0);transform:rotate(0);opacity:1}}

 .tracking-in-expand-fwd-top{animation:tracking-in-expand-fwd-top .8s cubic-bezier(.215,.61,.355,1.000) both}
@keyframes tracking-in-expand-fwd-top{0%{letter-spacing:-.5em;transform:translateZ(-700px) translateY(-500px);opacity:0}40%{opacity:.6}100%{transform:translateZ(0) translateY(0);opacity:1}}
.nav-bar-my{
    background-color: hwb(32 32% 3%);
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

.page-title{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .img-btn{
        display: none;
    }
    
}

